{{ define "main" }}
  <article>
    <section>
      {{- .Content -}}
    </section>
    <section>
	  {{ $allbooks := where .Site.RegularPages "Section" "books" }}
	 	  	  
	  {{ $realseries := where $allbooks "Params.seriesname" "not in" (slice "Novellas" "Standalones") }}
	  		  
	  {{ range $realseries.GroupByParam "seriesname" }}
	   <p> {{ .Key }} </p>
			  {{ range .Pages }}
		<p>	  {{ .Title }} </p>
		      {{ end }}
	  {{ end }}
		
{{/*      {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>*/}}
{{ end }}
