{{ define "main" }}
  <article>
    <section>
      {{- .Content -}}
    </section>
    <section>
	  {{ $allbooks := where .Site.RegularPages "Section" "books" }}
	 	  	  
	  {{ $realseries := where $allbooks "Params.seriesname" "not in" (slice "Novellas" "Standalones") }}
	  		  
	  {{ range $realseries.GroupByParam "seriesname" }}
         {{ $seriespage := $.Site.GetPage ( .Key | urlize ) }}
	     {{ if eq $seriespage.Params.includeinseries true }}
	           <p> {{ .Key }} </p>		   
			   {{ range .Pages }}
			      {{ if .Params.includeinseries }}
		             <p> {{ .Title }} </p>
				  {{ end }}
		      {{ end }}
	     {{ end }}
	  {{ end }}
		
{{/*      {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>*/}}
{{ end }}
