  <div class="cover bg-top" style="background-image: url('{{ .Params.background | absURL }}');">
    <div class="mw7 mw9-ns center pa3 ph5-ns">
      <div class="cf">
		<div class="fl w-50 pa2">
			
	
          <h2 class="text-primary text-capitalize athelas">{{ .Params.headertext }}</h2>
		  <div class="athelas">
		  {{ $featuredbookname := .Params.featuredbook | urlize }}
		  {{ $featuredbook := .Site.GetPage $featuredbookname }}
	  	  {{ $bitsdirectory := (printf "%s-bits" $featuredbook.File.ContentBaseName ) }}
	  	  {{ $bitspages := .Site.GetPage $bitsdirectory }}
	      {{ $blurb := $bitspages.Resources.GetMatch "blurb.md" }}
	  			<p>{{ $blurb.Params.tagline }}
		  <img src="{{ $featuredbook.Params.cover }}" />
		  <p> <b>{{ .Params.tagline }}</b></p>
		  <p> {{ .Params.reviewquote }} <b>{{ .Params.attribution }}</b> </p>
		  <p> {{ .Content }}</p>
		  {{ partial "buttons.html" $featuredbook }}
        </div>
      </div>
    </div>
  </div>