  <div class="cover bg-top" style="background-image: url('{{ .Params.background | absURL }}');">
    <div class="mw8-l mw7 mw9-ns center pa3 ph5-ns">
      <div class="cf">
		<div class="fl w-50 pa2">
			
	
          <h2 class="text-primary text-capitalize">{{ .Params.headertext }}</h2>
		  {{ $featuredbookname := .Params.featuredbook | urlize }}
		  {{ $featuredbook := .Site.GetPage $featuredbookname }}
		  <p> {{ .Content }}</p>
	  	  <img src="{{ $featuredbook.Params.cover }}" />
		  <p> <b>{{ .Params.tagline }}</b></p>		 
		  <a class="f6 link dim ph3 pv2 mb2 dib bg-black red ttu tracked" href={{ $featuredbook.Permalink }}>{{ .Params.buttontext }}</a>
        </div>
      </div>
    </div>
  </div>