{{ define "main" }}
  {{ $headless := .Site.GetPage "/homepage" }}
  {{ $reusablePages := $headless.Resources.ByType "page" }}
  {{ $reusablePages := sort $reusablePages ".Params.weight" }}
  {{ range first 1 $reusablePages }}
      {{ partial "new-release.html" . }}
  {{ end }}
  {{ partial "nl-signup" . }}
  {{ range first 1 (after 1 $reusablePages) }}
      {{ partial "best-series.html" . }}
  {{ end }}
  {{ range first 1 (after 2 $reusablePages) }}
      {{ partial "whats-next.html" . }}
  {{ end }}	  
  {{ partial "nl-signup" . }}
 
{{ end }}
