{{ define "main" }}
  <article>
    <section>
      {{- .Content -}}
    </section>
    <section>
	  {{ $allbooks := where $.Pages "Section" "books" }}
	  	  
	  	  {{ range $allbooks.GroupByParam "seriesname" }}
	  	     <p> {{ .Key }} </p>
		     {{ $seriespage := $.Site.GetPage ( .Key | urlize ) }}
		        <p> {{ $seriespage.Params.sminidescript }} </p>
	  		 {{ range .Pages }} 
			     {{ if .Params.includeinbooks }}
	  		    <p>	{{ .Title }} </p>
				 {{ end }}
			 {{ end }}	
	  	  {{ end }}
	  
		
{{/*      {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>*/}}
{{ end }}
