{{ define "main" }}
  <article>
    <section>
      {{- .Content -}}
    </section>
    <section>
	  {{ $allbooks := where $.Pages "Section" "books" }} {{/* Collects all the pages in the section books. */}}
	  	  
	  	  {{ range $allbooks.GroupByParam "seriesname" }} {{/* Range through the pages, now grouped by series name. */}}
		     {{ $seriespage := $.Site.GetPage ( .Key | urlize ) }} {{/* Turn the series name into a URL and grab the series page. */}}
			 {{ if eq $seriespage.Params.includeinbooks true }} {{/* Check if you should include that series on the books page. */}}
	  	           <p> <a href="/series/{{ .Key | urlize }}">{{ .Key }}</a> </p> {{/* If you should, print the series name (w link to series page). */}}
		           <p> {{ $seriespage.Params.sminidescript }} </p> {{/* Print the series' mini description. */}}
			           {{ range .Pages }} {{/* Range through the (book) pages contained in this key (series name) */}}
			              {{ if .Params.includeinbooks }} {{/* Check if you should include that book on the series page. */}}
	  		    <p>	         <a href="/books/{{.Title | urlize}}"><img src="{{ .Params.cover }}" width=200/></a> </p> {{/* If you should, display the book's cover. */}}
				          {{ end }}
					   {{ end }}  
			 {{ end }}	
	  	  {{ end }}
	  
		
{{/*      {{ range .Paginator.Pages }}
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>*/}}
{{ end }}
