{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">

    <header class="mt4 w-100">
      
      <h1 class="f1 athelas mb1">
        {{- .Title -}}
		{{- .Params.release -}}
      </h1>
      
    </header>
	<img src="{{ .Params.cover }}" />
	
	<div class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
	{{ $fred := (printf "%s-bits" .File.ContentBaseName ) }}
	{{ $headless := .Site.GetPage $fred }}
    {{ $reusablePages := $headless.Resources.ByType "page" }}
    {{ $reusablePages := sort $reusablePages ".Params.weight" }}
    {{ range first 1 $reusablePages }}
	
            <p>{{ .Content }}</p>
            
    {{ end }}

    {{ range first 1 (after 1 $reusablePages) }}
    
	
            <h2>{{ .Title }}</h2>
            <p>{{ .Content }}</p>
			
			         
    {{ end }}
	</div>

    <div class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
    {{/*  {{- .Content -}}
	  This is random text to tell me this file is using the "books" layout template.*/}}
	  {{ partial "buttons.html" . }}
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
