{{/* We can override any block in the baseof file by defining it in the template */}}
{{ define "header" }}
    {{ partial "site-header.html" . }}
{{ end }}

{{ define "main" }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">

    <header class="mt4 w-100">
      
      <h1 class="f1 athelas serif mid-gray mb1">
        {{- .Title }} | {{ .Params.seriesName }} Book # {{ .Params.seriesorder }}  
		{{ $releasedate := time .Params.releasedate }}
		{{ if $releasedate.After now }}
		  | {{ dateFormat "Monday, January 2, 2006" $releasedate }}
		{{ end }}
      </h1>
      
    </header>
	
    <div class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
	  {{ partial "buttons.html" . }}	
    </div>	
	
	<img src="{{ .Params.cover }}" />
	
	<header class="mt4 w-100">
        <h1 class="f2 athelas mid-gray mb1">
        {{- .Title -}} 
        </h1>
	</header>
	
	<div class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
	{{ $bitsdirectory := (printf "%s-bits" .File.ContentBaseName ) }}
	{{ $bitspages := .Site.GetPage $bitsdirectory }}
    {{ $blurb := $bitspages.Resources.GetMatch "blurb.md" }}

	        <h2>{{ $blurb.Title }}</h2>
			<p><b>{{ $blurb.Params.tagline }}</b></p>
            <p>{{ $blurb.Content }}</p>
			
			{{ partial "buttons.html" . }}	
	
			
    {{ $reviews := $bitspages.Resources.GetMatch "reviews.md"}}
	
            <p>{{ $reviews.Content }}</p>
			
	{{ $excerpt := $bitspages.Resources.GetMatch "excerpt.md"}}
	
	        <p>Excerpt from {{ .Title }}</p> Copyright © {{ $releasedate.Year }} Serena Bell. All Rights Reserved. 
            <p>{{ $excerpt.Content }}</p>
			
			{{ partial "buttons.html" . }}	

	</div>

  </article>
{{ end }}
